<!DOCTYPE html>
<html>
<head>
<title>Eazy Resume Builder - 2019 Copyrights. | Free and eazy to make Resumes.</title>
<link rel="stylesheet" href="/css/bootstrap.css" />
<link rel="stylesheet" href="/css/style.css" />


<!--<link rel="stylesheet" href="/css/style2.css" /> -->
</head>
<body>
	
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand" href="/"  >Eazy Resume Builder</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          
          {{#if user}}
          <li class="nav-item">
            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/users/account">My Account <span class="sr-only"></span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/users/resume">Resume Maker <span class="sr-only"></span></a>
          </li>
          {{else}}
          <li class="nav-item">
            <a class="nav-link" href="/users/login">Login <span class="sr-only"></span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/users/register">Register <span class="sr-only"></span></a>
          </li>
          {{/if}}
          <!--<li class="nav-item">
            <a class="nav-link my-2 my-sm-0" href="/users/logout">Logout <span class="sr-only"></span></a>
          </li> -->
          <li class="nav-item">
            <a class="nav-link" href="/users/contactus">Contact Us<span class="sr-only"></span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/users/careers">Careers<span class="sr-only"></span></a>
          </li>
          
        </ul>
        {{#if user}}
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Search for the profile!" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          <a class="nav-link my-2 my-sm-0" href="/users/logout">Logout <span class="sr-only"></span></a>
        </form> 

        {{/if}}
      </div>
    </nav>

    <main role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
  

      <div class="container">
        <!-- Example row of columns -->
        <div class="row">
          <div class="col-lg-12">
          {{#if success_msg}}
             <div class="alert alert-success">{{success_msg}}</div>
          {{/if}}

          {{#if error_msg}}
          <div class="alert alert-danger">{{error_msg}}</div>
          {{/if}}

          {{#if error}}
          <div class="alert alert-danger">{{error}}</div>
          {{/if}}

          {{{body}}}
        </div>
        </div>

        <hr>

      </div> <!-- /container -->

    </main>

    
<footer class="pt-4 my-md-5 pt-md-5 border-top">
        <div class="row">
          <div class="col-12 col-md">
            <!--img class="mb-2" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" alt="" width="24" height="24" -->
            <small class="g-block mb-3 text-muted"><p>&copy; Eazy Resume Builder Pvt. Ltd.</p></small>
          </div>
          <div class="col-6 col-md">
            <h5>Resources</h5>
            <ul class="list-unstyled text-small">
              <li><a class="text-muted" href="#">Resource</a></li>
              <li><a class="text-muted" href="#">Resource name</a></li>
              <li><a class="text-muted" href="#">Another resource</a></li>
              <li><a class="text-muted" href="#">Final resource</a></li>
            </ul>
          </div>
          <div class="col-6 col-md">
            <h5>About</h5>
            <ul class="list-unstyled text-small">
              <li><a class="text-muted" href="#">Team</a></li>
              <li><a class="text-muted" href="#">Locations</a></li>
              <li><a class="text-muted" href="#">Privacy</a></li>
              <li><a class="text-muted" href="#">Terms</a></li>
            </ul>
          </div>
        </div>
      </footer>
</body>
</html>